.best{
    display: flex;
   justify-content: space-between;
   padding: 20px 80px;


   .Aisha{
       padding-bottom: 20%;
       padding-right: 9%;
   }
   .Justin{
       padding-bottom: 10%;
   }

   .save{
       text-align: center;
       color: #FFFFFF;
       padding: 60px;


       h1{
           font-size: 60px;
       }
       p{
           padding: 2% 25%;
           line-height: 1.5;
           color: #ffffffce;
       }
       button{
        padding: 20px 30px;
        border-radius: 10px 10px 10px 0;
        background-color: #FFFFFF;
        color: rgba(54, 54, 236, 0.575);
       }
   }
}
.imgs{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    


    .App_Store{
       padding-right: 40px;
    }
}

.secure{
    color: #FFFFFF;

    h2{
        padding: 60px 0;
    }
    .content{
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;

    .key{
        display: flex;
        

        p{
            padding: 0 23%;
            text-align: left;
        }
    }

    .preloader{
        display: flex;
        
        

        p{
            padding: 0 17%;
            text-align: left;
        }
        
        .Preloader_icon{
            width: 10%;
        }
    }
}
}

.container{
    background-color: #FFFFFF;

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    grid-template-rows: auto;
}
    .piggy{
    display: flex;
    text-align: left;
}
.save_phone_min{
    width: 10%;
    display: none;
}

}
